# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
r

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.egg-info/
*.egg-info/
sdist/
var/
*.mo
*.pot
*.log
local/
lib/
include/
bin/
.env/
.venv/

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Virtual environment
venv/

# Flask-specific
instance/
.flaskenv

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database files (if using SQLite)
*.sqlite3
*.db

# Environment variables
.env