{% extends "base.html" %}{% block body %}




<div class="container">

    <h1>Welcome</h1>
{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}
<form id="auth-form" action="{{ url_for('login') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <input type="text" name="username"  class="input-field"placeholder="Username">
    <input type="password" name="password"  class="input-field"placeholder="Password">
    <button type="submit" class="btn-login" onclick="setActionForm('login')">Login</button>
    <button type="button" class="btn-register" onclick="setActionForm('register')">Register</button>
</form>
    
</div>



<script>
    function setActionForm(action) {
        let formEl = document.getElementById('auth-form');
        if (action === 'login') {
            formEl.action = '{{ url_for("login") }}';
            formEl.method = 'POST';
            formEl.submit();
        } else if (action === 'register') {
            formEl.action = '{{ url_for("register") }}';
            formEl.method = 'POST';
            formEl.submit();
        }
    }


</script>



{% endblock %}